<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>versions</key>
    <dict>
		<key>apache</key>
		<string>2.2.9</string>
		<key>apr</key>
		<string>1.5.0</string>
		<key>aspell</key>
		<string>0.60.4</string>
		<key>autoconf</key>
		<string>2.68</string>
		<key>automake</key>
		<string>1.11.1</string>
		<key>bcompiler</key>
		<string>0.8</string>
		<key>bdb</key>
		<string>4.4.20</string>
		<key>catdoc</key>
		<string>0.94</string>
		<key>cronolog</key>
		<string>1.6.2</string>
		<key>doxygen</key>
		<string>1.7.3</string>
		<key>eaccelerator</key>
		<string>0.9.6.1</string>
		<key>expat</key>
		<string>2.0.1</string>
		<key>fontconfig</key>
		<string>2.4.2</string>
		<key>freetds</key>
		<string>0.82</string>
		<key>freetype</key>
		<string>2.3.5</string>
		<key>gd</key>
		<string>2.0.35</string>
		<key>genshi</key>
		<string>0.5.1</string>
		<key>gettext</key>
		<string>0.16</string>
		<key>ghostscript</key>
		<string>0.16</string>
		<key>git</key>
		<string>1.7.4</string>
		<key>graphicsmagick</key>
		<string>1.2.4</string>
		<key>graphviz</key>
		<string>2.20.2</string>
		<key>htmldoc</key>
		<string>1.9.0</string>
		<key>imagemagick</key>
		<string>6.4.2</string>
		<key>inadyn</key>
		<string>1.96.2</string>
		<key>libjpeg</key>
		<string>6</string>
		<key>libmcrypt</key>
		<string>2.5.8</string>
		<key>libpng</key>
		<string>1.2.22</string>
		<key>libtiff</key>
		<string>3.8.2</string>
		<key>lua</key>
		<string>5.1.3</string>
		<key>lynx</key>
		<string>2.8.6</string>
		<key>make</key>
		<string>3.8.1</string>
		<key>memcached</key>
		<string>1.4.2</string>
		<key>mhash</key>
		<string>0.9.9</string>
		<key>mod_python</key>
		<string>3.3.1</string>
		<key>mod_security</key>
		<string>2.1.5</string>
		<key>mysql</key>
		<string>5.1.42</string>
		<key>ncat</key>
		<string>1.0.1</string>
		<key>neon</key>
		<string>0.0.1</string>
		<key>nmap</key>
		<string>4.2.0</string>
		<key>openldap</key>
		<string>2.4.6</string>
		<key>pcre</key>
		<string>7.6</string>
		<key>php_44</key>
		<string>4.4.9</string>
		<key>php_52</key>
		<string>5.2.17+r1</string>
		<key>php_53</key>
		<string>5.3.5+r1</string>
		<key>pkgconfig</key>
		<string>0.22</string>
		<key>sdl</key>
		<string>1.2.3</string>
		<key>siege</key>
		<string>2.70</string>
		<key>subversion</key>
		<string>1.6.16</string>
		<key>swig</key>
		<string>1.3.31</string>
		<key>trac</key>
		<string>0.12.2</string>
		<key>treec</key>
		<string>0.3.10</string>
		<key>webalizer</key>
		<string>2.01.10</string>
		<key>webstart</key>
		<string>1.0.5</string>
		<key>webstart-updater</key>
		<string>1.0.5</string>
		<key>wget</key>
		<string>1.10.2</string>
		<key>xpdf</key>
		<string>3.0.2</string>
		<key>yasm</key>
		<string>0.7.0</string>
		<key>zend_optimizer</key>
		<string>3.3.3</string>
    </dict>
</dict>
</plist>
